<div class="container">
    <div class="row">
        <h3>Make your way through the dungeon!</h3>
    </div>
    <div class="row">
        <div id="textGoesHere" class="col-xs-5">
            <div class="currentRoom">
                <p>This is where the room text goes</p>
            </div>
            <div class="monsterInRoom">
                <p>This is where the monster text goes</p>
            </div>
            <div class="inventory">
                <p>This is where the inventory text goes</p>
            </div>
        </div>
        <div id="btnDiv" class="col-xs-5">
            <button id="up" class="btn btn-primary" (click)="onMoveNorth()"><strong>^^</strong></button>
            <br>
            <button id="right" class="btn btn-primary" (click)="onMoveEast()">
                <strong><<br><</strong>
            </button> 
            <button id="left" class="btn btn-primary" (click)="onMoveWest()">
                <strong>><br>></strong>
            </button>
            <br>
            <button id="down" class="btn btn-primary" (click)="onMoveSouth()"><strong>VV</strong></button>
        </div>
    </div>