
<div class="container">
    <div class="row justify-content-center"> 
        <div class="col-xs-12">
            <div [innerHtml]="EndMessage"></div>
        </div>
    </div>
    <div class="row justify-content-center"> 
        <div class="col-xs-12">
            <div class="btn-toolbar">
                <input type="button" class="btn btn-primary mr-3" routerLink="/" (click)="this.playerService.clearInventory()" value="Home">
                <input type="button" class="btn btn-primary mr-3" routerLink="/dungeon" (click)="retry()" value="Retry">
            </div>
        </div>
    </div>
</div>