
<div class="container">
    <div class="row row-centered"> 
        <div  class="col-md col-centered">
            
            <br/>
            <div [innerHtml]="FinalFight"></div> 
            <br/>
            <div [innerHtml]="EndMessage"></div>
            <br/>
            <div [innerHtml]="FinalScore"></div>
        </div>
    </div>
    <div class="row justify-content-center"> 
        <div class="col-xs-12">
            <div class="btn-toolbar">
                <input type="button" class="btn btn-primary mr-3" (click)="this.playerService.clearInventory()" value="Home">
                <!-- <input type="button" class="btn btn-primary mr-3" routerLink="/dungeon" (click)="this.playerService.restartInventory()" value="Retry"> -->
            </div>
        </div>
    </div>
</div>